.vitrine .acessorio-img-vaper{
	width: 100%;
	padding-top: 100%;
	border: 8px solid white;
	background-size: 100% 100%;

}
.vitrine:nth-of-type(1) .acessorio-img-vaper{
	background-image: url('../assets/skysoloplusazul.jpg');
}
.vitrine:nth-of-type(2) .acessorio-img-vaper{
	background-image: url('../assets/sky\ solo\ plus\ rainbow\ foto.jpg');
}
.vitrine:nth-of-type(3) .acessorio-img-vaper{
	background-image: url('../assets/gold-11-aa204c6de05bad212216120172137410-640-0.jpg');
}
.vitrine:nth-of-type(4) .acessorio-img-vaper{
	background-image: url('../assets/skysoloplusprata.jpg');
}
.vitrine:nth-of-type(5) .acessorio-img-vaper{
	background-image: url('../assets/skysolopluspreto.jpg');
}
.vitrine:nth-of-type(6) .acessorio-img-vaper{
    background-image: url('../assets/skysolo.jpeg');
}
.vitrine:nth-of-type(7) .acessorio-img-vaper{
	background-image: url('../assets/skysolo2.jpeg');
}
.vitrine:nth-of-type(8) .acessorio-img-vaper{
	background-image: url('../assets/skysolo3.jpeg');
}
.vitrine:nth-of-type(9) .acessorio-img-vaper{
	background-image: url('../assets/sky\ solo\ plus\ rainbow\ foto.jpg');
}
.vitrine:nth-of-type(10) .acessorio-img-vaper{
	background-image: url('../assets/luxepm40.jpg');
}
.vitrine:nth-of-type(11) .acessorio-img-vaper{
	background-image: url('../assets/gens.jpg');
}
.vitrine:nth-of-type(12) .acessorio-img-vaper{
	background-image: url('../assets/thumbnail_koko\ pod\ site.jpg');
}